/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    font: 600 16px/1.5 "Manrope", sans-serif;
    font-size: min(16px, 5vw);
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
    font: inherit;
}
body {
    --orange: #EF8354;
    --gray: #BFC0C0;
    --blue: #4F5D75;
    --blue2: #2D3142;
    margin: 0 auto;
    background-color: var(--gray);
}
h1 {
    margin-bottom: 1rem;
    font: 400 min(20vw, 15rem)/1 "Anton", sans-serif;
    text-transform: uppercase;
}
h2 {
    margin-bottom: 1rem;
    font: 400 3rem/0.9 "Archivo Black", sans-serif;
    text-transform: uppercase;
}
h3 {
    font: 900 1.4rem/1.5 "Manrope", sans-serif;
}
p {
    font: 1rem;
}
p.p2 {
    font-size: 0.85rem;
    font-weight: 400;
}
footer p {
    font-size: 0.7rem;
    text-align: center;
    padding-bottom: 0.6rem;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}
.button,
.button-secondary {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 3.5rem;
    border-style: none;
    font: 700 1rem/1 "Manrope", sans-serif;
    background-color: var(--orange);
    color: black;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
}
.button-secondary {
    color: var(--orange);
    background: none;
    border: 1px solid var(--orange);
    font: 700 1rem/1 "Manrope", sans-serif;
    text-shadow: 0 0 10px black;
}
header,
footer,
section,
nav {
    padding: 20px;
}
section {
    padding-top: 3rem;
    padding-bottom: 5rem;
    min-height: 100vh;
}
section:first-of-type {
    padding-top: 8rem;
}
.orange-bg {
    background-color: var(--orange);
    color: black;
}
.blue-bg {
    background-color: var(--blue2);
    color: white;
}
.gray-bg {
    background-color: var(--gray);
    color: var(--blue2);
}
.white-bg {
    background-color: white;
    color: var(--blue2);
}
img {
    width: 100%;
    display: block;
}
@media (hover:hover) {
    .button:hover {
        background-color: #e7662e;
        text-decoration: none;
    }
    .button-secondary:hover {
        background-color: var(--orange);
        color: black;
        text-shadow: none;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .btn-prev:hover,
    .btn-next:hover {
        background-color: rgba(255, 255, 255, 50%);
    }
}


/* index */

header {
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 4rem;
    color: white;
    text-shadow: 0 0 20px rgba(36, 36, 36, 50%);
    background: url("../images/bg-hero-gym.jpg") center/cover;
}
header p {
    text-transform: uppercase;
    font-size: 0.85rem;
}
#index-page section {
    min-height: unset;
}
#index-page h2 {
    margin-bottom: 1rem;
    font: 400 min(14vw, 5rem)/1 "Anton", sans-serif;
}
#hero-content {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
}
#staffed-24-7 img {
    display: none;
}
#staffed-24-7 div{
    text-align: center;
}
#staffed-24-7 p {
    margin: 0 auto;
    max-width: 20rem;
}
#owned p + a {
    color: rgb(123, 158, 255);
}


/* about */

#our-story {
    background: url("../images/bg-maurice.jpg") center/cover;
}
#our-story .text-overlay {
    margin-top: 500px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 70%);
    color: rgb(255, 255, 255);
}
#our-people ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 3rem;
    margin-top: 3rem;
}
#our-people li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: white;
    color: var(--blue2);
}
#our-people li figcaption {
    padding: 1rem;
}



/* classes */

#classes p {
    max-width: 50rem;
    margin-bottom: 3rem;
}
.slider-container {
    position: relative;
    height: 70vh;
    min-height: 30rem;
}
.slider {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider li {
    margin: 0 20px;
    scroll-snap-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}
.slider li img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.slider li h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    margin: 0;
}
.slider li:first-of-type {
    margin-left: 50%;
}
.slider li:last-of-type {
    margin-right: 50%;
}
.slider h3 a {
    margin: 2rem auto 0 auto;
    max-width: 80%;
}
.btn-prev,
.btn-next {
    position: absolute;
    z-index: 100;
    width: 3rem;
    height: 5rem;
    top: 40%;
    margin:0 1rem;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.btn-next {
    right: 0;
}
.accordion::after {
    font-family: "Font Awesome 5 Free"; 
    content: "\2b";
    margin-left: 1rem;
}
.accordion + div {
    margin-top: 1rem;
    width: 100%;
    height: 400px;
    background-color: var(--gray);
}





/* contact */

#locations ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 3rem;
}
#locations li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#locations li div {
    background-color: white;
    color: var(--blue2);
    padding: 20px;
}




/* join */

#sign-up>div {
    padding: 20px;
        max-width: 500px;
        margin: 0 auto;
}
#sign-up form{
    margin-top: 3rem;
}
.sign-up-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    width: 100%;
    border-style: none;
}
input[type=tel] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
fieldset label {
    display: none;
    text-align: end;
    padding-right: 5px;
    margin-top: 0.5rem;
}
input,
textarea {
    border: 1px solid var(--blue);
    padding: 5px;
    padding-right: 2rem;
    width: 100%;
    margin-top: 0.5rem;
}
input[type="checkbox"] {
    width: auto;
}
.error { 
    display: none;
    visibility: hidden;
    font-size: 0.85rem;
    padding-left: 0.5rem;
}
/* form error */
input:invalid:not(:focus):not(:-moz-placeholder-shown) + .feedback .error {
    display: block;
    visibility: visible;
    color: #B30000;
}
input:invalid:not(:focus):not(:-ms-input-placeholder) + .feedback .error {
    display: block;
    visibility: visible;
    color: #B30000;
}
input:invalid:not(:focus):not(:placeholder-shown) + .feedback .error {
    display: block;
    visibility: visible;
    color: #B30000;
}
input:invalid:not(:focus):not(:-moz-placeholder-shown) {
    border: 1px solid black;
    outline: 1px solid #B30000;
    background-color: #ffe9ef;
}
input:invalid:not(:focus):not(:-ms-input-placeholder) {
    border: 1px solid black;
    outline: 1px solid #B30000;
    background-color: #ffe9ef;
}
input:invalid:not(:focus):not(:placeholder-shown),
select[value=""] {
    border: 1px solid black;
    outline: 1px solid #B30000;
    background-color: #ffe9ef;
}
input:optional,
input:optional + .feedback {
    display: none;
}
input:required + .feedback .required-marker::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 0.7rem;
    content: "\f069";
    position: absolute;
    top: -2rem;
    right: 0.6rem;
    color: black;
}
form a {
    color: blue;
}
.feedback {
    position: relative;
}
#popup {
    display: none;
}





/* navigation */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 70%)), to(rgba(100, 100, 100, 0)));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 70%), rgba(100, 100, 100, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 70%), rgba(100, 100, 100, 0));
} 
nav a {
    display: block;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#burger {
    font-size: 1.5rem;
    width: 2rem;
}
#logo {
    display: block;
    width: 8rem;
    margin-right: auto;
}
#menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 90%);
}
#menu li {
    width: 100%;
    text-align: center;
}
nav .button {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    margin: 0;
    margin-left: 1rem;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
}
.hidden {
    display: none;
}
.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}




@media (min-width: 600px) {
    
    /* general */
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 1rem;
    }
    #menu {
        background-color: unset;
        position: unset;
        width: auto;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 1rem;
    }
    #burger {
        display: none;
    }
    .button,
    .button-secondary {
        width: 16rem;
    }
    /* index */

    /* about */
    #our-story {
        background-image: url(../images/bg-maurice-big.jpg);
    }
    #our-story .text-overlay{
        max-width: 50%;
        margin-top: 150px;
    }
    #our-people ul {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    /* classes */
    .slider li {
        width: 50%;
    }
    .accordion {
        width: 100%;
    }

    /* join */

    /* contacts */

    #locations ul {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    #locations li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    #locations li div {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    #locations li figure {
        -webkit-box-flex: 1.5;
            -ms-flex: 1.5;
                flex: 1.5;
        max-width: 30rem;
    }

    
}
@media (min-width: 1000px) { 
    
    /* general */
    section, footer {
        padding-left: 15%;
        padding-right: 15%;
    }

    /* index */
    #staffed-24-7 {

        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #staffed-24-7 img {
        display: block;
        -webkit-filter: grayscale(100);
                filter: grayscale(100);
        mix-blend-mode: multiply;
        width: 30rem;
    }
    /* about */
    

    #our-people ul {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;    
    }

    /* contact */
 

    /* join */
   
    #sign-up>div {
        max-width: 900px;
        padding: 4rem;
    }
    #sign-up .button {
        margin: 1rem auto;
    }
    fieldset label {
        display: inline-block;
    }
    .sign-up-inputs {
        -ms-grid-columns: auto 1fr 1fr;
        grid-template-columns: auto 1fr 1fr;
    }
    input:optional,
    input:optional + .feedback {
        display: block;
    }
    input:required + .feedback .required-marker::after {
        top: 0.1rem;
        left: -1rem;
    }
    .error {
        display: block;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
    }
    .feedback {
        margin-top: 0.5rem;
    }
    #popup {
        display: inline;
        cursor: pointer;
        color: var(--orange);
    }
    #popup::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f05a";
        margin-right: 2px;
    }
    #popup-video {
        width: 50vw;
        color: #fff;
        text-align: center;
        position: absolute;
        
        z-index: 100;
        -webkit-animation-name: popupfadein;
                animation-name: popupfadein;
        -webkit-animation-duration:  0.5s;
                animation-duration:  0.5s;
    }
    @-webkit-keyframes popupfadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes popupfadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}


